<div class="nested-fields">
  <div>
    <%= f.label :statement, style: "display: block" %>
    <%= f.text_field :statement %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :correct, style: "display: block" %>
    <%= f.check_box :correct %>
  </div>

  <%= link_to_remove_association "Delete", f %>
</div>