<div id="<%= dom_id question %>">
  <p>
    <strong>Identifier:</strong>
    <%= question.identifier %>
  </p>

  <p>
    <strong>Statement:</strong>
    <%= question.statement %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

  <p>
    <strong>Config:</strong>
    <%= question.config %>
  </p>

</div>
