<%= form_for @quiz do |form| %>
  <% if @quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% @quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <h3>Questions</h3>

  <div id="quiz_questions">
    <%= form.fields_for :quiz_questions do |quiz_question| %>
      <%= render 'quiz_question_fields', f: quiz_question %>
    <% end %>
    <%= link_to_add_association "Add question", form, :quiz_questions %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
