<div class="nested-fields">
  <div>
    <%= f.label :question, style: "display: block" %>    
    <%= f.select :question_id, Question.all.map { |q| [q.statement, q.id] } %>
  </div>

  <div>
    <%= f.label :weight, style: "display: block" %>
    <%= f.text_field :weight %>
  </div>

  <div>
    <%= f.label :position, style: "display: block" %>
    <%= f.text_field :position %>
  </div>

  <%= link_to_remove_association "Delete", f %>
</div>
