<% if @quiz_answer.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@quiz_answer.errors.count, "error") %> prohibited this quiz from being saved:</h2>

    <ul>
      <% @quiz_answer.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@quiz_answer.quiz, @quiz_answer] do |form| %>
  <h1>Answering <%= @quiz_answer.quiz.title %></h1>

  <ol>
    <% @quiz_answer.quiz.quiz_questions.order(:position).each do |quiz_question| %>      
      <li>
        <strong><%= quiz_question.question.statement %>:</strong>

        <ul>
          <% if quiz_question.question.multiple? %>                   
            <% quiz_question.question.alternatives.each do |alternative| %>
              <%= hidden_field("quiz_answer[question_answers_attributes][#{quiz_question.position}#{alternative.id}]", :quiz_question_id, value: quiz_question.id) %>
              
              <li><%= check_box("quiz_answer[question_answers_attributes][#{quiz_question.position}#{alternative.id}]", "alternative_id", {}, alternative.id, 0) %> <%= alternative.statement %></li>
            <% end %>            
          <% else %>
            <%= hidden_field("quiz_answer[question_answers_attributes][#{quiz_question.position}]", :quiz_question_id, value: quiz_question.id) %>

            <% quiz_question.question.alternatives.each do |alternative| %>
              <li><%= radio_button("quiz_answer[question_answers_attributes][#{quiz_question.position}]", "alternative_id", alternative.id) %> <%= alternative.statement %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back", quizzes_path %>
</div>
