<%= form_with(model: quiz_session) do |form| %>
  <% if quiz_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz_session.errors.count, "error") %> prohibited this quiz_session from being saved:</h2>

      <ul>
        <% quiz_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :answers, style: "display: block" %>
    <%= form.text_field :answers %>
  </div>

  <div>
    <%= form.label :quiz_snapshot, style: "display: block" %>
    <%= form.text_field :quiz_snapshot %>
  </div>

  <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.text_field :result %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
